@page "/EditQuestionsPage/{gameID:int}/{userId:int}"
@using TreasureIsland_Dolev_May_Coral.Shared.Entities
@inject HttpClient Http
@inject NavigationManager nav


<h2><b style="color:saddlebrown">עריכת המשחק: </b><b style="color:black">@CurrentGame.GameName</b> </h2>

<EditForm Model="@CurrentQuestion" OnValidSubmit="OnValidSubmit">

    <DataAnnotationsValidator />
    <MudItem>
        <MudText Style="color: saddlebrown">
            השאלה:
            <MudText Style="color:black; font-size:small"> 3-50 תווים</MudText>
        </MudText>
        <MudItem Style="width: 500px">
            <MudItem>
                @if (CurrentQuestion.QuestionTitle == null || CurrentQuestion.QuestionTitle == "")
                {
                    <MudTextField Variant="Variant.Outlined" Counter="50" MaxLength="50" Margin="Margin.Dense" Placeholder="תוכן השאלה..." @bind-Value="CurrentQuestion.QuestionTitle" For="@(() => CurrentQuestion.QuestionTitle)"></MudTextField>
                }
                else
                {
                    <MudTextField Variant="Variant.Outlined" Margin="Margin.Dense" Placeholder="תוכן השאלה..." @bind-Value="CurrentQuestion.QuestionTitle" For="@(() => CurrentQuestion.QuestionTitle)" Adornment="Adornment.End" AdornmentIcon="@Icons.Filled.Close" OnAdornmentClick="CleanFuncQuestion"></MudTextField>

                }
                <InputFile id="FileInputID" OnChange="UploadFile" accept=".jpg, .jpeg, .png" hidden />
                <img src="@CurrentQuestion.QuestionImage" width="30" />
                @if (Xbuttonhidden2 == false )
                {
                    <MudText Style="font-size:small">ניתן להוסיף</MudText>
                    <MudButton EndIcon="@Icons.Material.Filled.AddPhotoAlternate" Size="Size.Small" Color="Color.Dark" for="FileInputID" HtmlTag="label"></MudButton>                
                }
                else
                {
                    <MudButton EndIcon="@Icons.Material.Filled.Close" Size="Size.Small" Color="Color.Dark" @onclick="CleanFuncQuestionImage" HtmlTag="label"></MudButton>

                }




            </MudItem>
        </MudItem>





        <MudItem Style="width: 300px">

            <MudText Style="color: saddlebrown"><b>תשובה נכונה</b></MudText>

            <InputFile id="imgFileCorrectAnswer" OnChange="UploadFileforCorrectAnswer" accept=".jpg, .jpeg, .png" hidden />

            @if (CorrectAnswer.IsImage == false)
            {
                //האם תיבת טקסט ריק אז אפשר להכניס תוכן לתיבה
                <MudTextField Variant="Variant.Outlined" Margin="Margin.Dense" Placeholder="תוכן תשובה נכונה" HelperText="2-25 תווים"
                              @bind-Value="CorrectAnswer.DistractorContent" For="@(() => CorrectAnswer.DistractorContent)" />
                @if (string.IsNullOrEmpty(CorrectAnswer.DistractorContent) == false)
                {
                    //כפתור העלאת תמונה מושבת
                    <MudButton EndIcon="@Icons.Material.Filled.AddPhotoAlternate" Disabled="true" Size="Size.Small" Color="Color.Dark" for="FileInputID" HtmlTag="label"></MudButton>
                }
                else
                {
                    //כפתור העלאת תמונה פעיל
                    <MudButton EndIcon="@Icons.Material.Filled.AddPhotoAlternate" Size="Size.Small" Color="Color.Dark" for="imgFileCorrectAnswer" HtmlTag="label"></MudButton>
                }

            }
            else
            {
                //התוכן של המסיח הוא תמונה
                //אז תיבת הטקסט אינה פעילה
                //מוצג תוכן התמונה והכפתור

                <MudTextField Disabled="true" Variant="Variant.Outlined" Margin="Margin.Dense" Counter="25" MaxLength="25" Placeholder="תוכן תשובה נכונה"
                              For="@(() => CorrectAnswer.DistractorContent)" />
                <MudButton EndIcon="@Icons.Material.Filled.AddPhotoAlternate" Size="Size.Small" Color="Color.Dark" for="imgFileCorrectAnswer" HtmlTag="label"></MudButton>

                <img src="@CorrectAnswer.DistractorContent" width="30" />
            }

        </MudItem>

        <MudText Style="color: saddlebrown"><b>תשובה לא נכונה</b></MudText>
        <MudItem Style="width: 300px">
            @foreach (Distractor a in myDistractorList)
            {

                int place = myDistractorList.IndexOf(a);

                <InputFile id="@("imgFile" + place.ToString())" OnChange="((e) => UploadFileDistractor(e, place))" accept=".jpg, .jpeg, .png" hidden />

                @if (a.IsImage == false)
                {
                    //אם המסיח אינו מכיל תמונה אז...
                    <MudTextField @bind-Value="a.DistractorContent" Margin="Margin.Dense" Counter="25" MaxLength="25" Placeholder="תוכן תשובה לא נכונה" Label="תשובה לא נכונה" Variant="Variant.Outlined"></MudTextField>
                    @if (string.IsNullOrEmpty(a.DistractorContent) == false)
                    {
                        //האם התוכן של המסיח הוא מלא אז....
                        // מוסיפים כפתור להעלאת תמונה במצב מושבת
                        <MudButton EndIcon="@Icons.Material.Filled.AddPhotoAlternate" Disabled="true" Size="Size.Small" Color="Color.Dark" for="FileInputID" HtmlTag="label"></MudButton>
                    }
                    else
                    {
                        // מוסיפים כתפור תמונה שהוא כן פעיל

                        <MudButton EndIcon="@Icons.Material.Filled.AddPhotoAlternate" Size="Size.Small" Color="Color.Dark" for="@("imgFile" + place.ToString())" HtmlTag="label"></MudButton>

                    }
                }
                else
                {
                    //תיבת טקסט הינה מושבתת כי יש תמונה בתוכן של המסיח
                    <MudTextField Disabled="true" Margin="Margin.Dense" Placeholder="תוכן תשובה לא נכונה" Label="תשובה לא נכונה" Counter="25" MaxLength="25" Variant="Variant.Outlined" T="string"></MudTextField>
                    <MudButton EndIcon="@Icons.Material.Filled.AddPhotoAlternate" Size="Size.Small" Color="Color.Dark" for="@("imgFile" + place.ToString())" HtmlTag="label"></MudButton>
                    // <img src="@a.DistractorContent" width="30" />

                    <img src="@myDistractorList[place].DistractorContent" width="30" />

                }

            }

        </MudItem>

    </MudItem>
    <MudButton Style="background-color:saddlebrown; color:azure" ButtonType="ButtonType.Submit" Color="Color.Primary" Variant="Variant.Filled">שמירת שאלה</MudButton>


</EditForm>


<MudTable class="tableofQ" Items="@CurrentGame.GameQuestions" Hover="true">
    <HeaderContent>
        <MudTh>שאלה</MudTh>
        <MudTh>כמות תשובות</MudTh>
        <MudTh>עריכה</MudTh>
        <MudTh>מחיקה</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="שאלה"><MudTooltip Text="@context.QuestionTitle">@context.QuestionTitle</MudTooltip></MudTd>
        <MudTd DataLabel="כמות תשובות">@context.QuestionDistractors.Count</MudTd>
        <MudTd DataLabel="עריכה"><MudButton @onclick="() => EditQustionFunc(context.ID)" EndIcon="@Icons.Material.Outlined.Edit"></MudButton></MudTd>
        <MudTd DataLabel="מחיקה"> <MudButton @onclick="() => DeleteQustionFunc(context)" EndIcon="@Icons.Material.Outlined.Delete"></MudButton></MudTd>
    </RowTemplate>
</MudTable>

<br />
<p>@msg</p>

@code {

    [Parameter]
    public int userId { get; set; } // פרמטר יוזר

    [Parameter]
    public int gameID { get; set; }//פרמטר מספר מזהה משחק

    Game CurrentGame = new Game(); //מופע של המשחק הנוכחי

    Question CurrentQuestion = new Question(); // מופע של שאלה נוכחית

    List<Question> currentgameQuestions = new List<Question>(); // רשימת שאלות של המשחק הנוכחי

    Distractor CurrentDistractor = new Distractor(); // מסיח נוכחי

    Distractor CorrectAnswer = new Distractor();

    List<Distractor> myDistractorList = new List<Distractor>(); // רשימת מסיחים

    List<string> QTable = new List<string>();


    // חיווי למשתמש
    string msg = "";

    protected async override Task OnInitializedAsync()
    {
        Xbuttonhidden2 = false; // איפוס משתנה איקס לתמונה בגזע השאלה


        CurrentGame.ID = gameID;

        var getResponse = await Http.GetAsync("api/Games/bygameID/" + CurrentGame.ID);


        if (getResponse.IsSuccessStatusCode == true)
        {

            // הכלה של פרטי הקריאה מהדטה בייס למופע של המשחק בעמוד זה
            CurrentGame = getResponse.Content.ReadFromJsonAsync<Game>().Result;

            currentgameQuestions = CurrentGame.GameQuestions;

            CurrentGame.GameName = CurrentGame.GameName;//כותרת שם המשחק

            CurrentQuestion.QuestionDistractors = new List<Distractor>(); // אתחול הרשימה

            for (int i = 0; i <= 4; i++)
            {
                Distractor CurrentDistractor = new Distractor();
                myDistractorList.Add(CurrentDistractor);
            }



            Console.WriteLine("קריאה הצליחה  OnInitializedAsync");

        }
        else
        {
            string error = getResponse.Content.ReadAsStringAsync().Result;
            if (error == "game not found" || error == "empty Session")
            {
                nav.NavigateTo("./");
            }
            else
            {
                Console.WriteLine("התרחשה תקלת שרת");
            }

        }


    }


    //עריכת שאלה כפתור עריכה
    bool EditQBool = false;

    protected async Task EditQustionFunc(int QtoEditID)

    {

        //איפוס
        // myDistractorList = new List<Distractor>();
        //CurrentQuestion.QuestionDistractors = new List<Distractor>(); // אתחול הרשימה
        CorrectAnswer = new Distractor();


        //נקרא לקונטרולר ונבקש את התוכן מהשאלה כולל מסיחים
        var GetResponse = await Http.GetAsync("api/Questions/editQ/" + QtoEditID);
        if (GetResponse.IsSuccessStatusCode == true)
        {
            //נכניס את השאלה שהתקבלה מהבסיס נתונים למופע של השאלה
            CurrentQuestion = GetResponse.Content.ReadFromJsonAsync<Question>().Result;


            if (CurrentQuestion.QuestionImage!=null)
            {
                Xbuttonhidden2 = true;
            }

            foreach (Distractor a in CurrentQuestion.QuestionDistractors)
            {
                int index = CurrentQuestion.QuestionDistractors.IndexOf(a);

                if (a.IsCorrect == true)
                {
                    CorrectAnswer = a;
                }
                else
                {
                    myDistractorList[index - 1] = CurrentQuestion.QuestionDistractors[index];

                }

            }

            Console.WriteLine("השאלה נשלפה בהצלחה");
            EditQBool = true;
            StateHasChanged();

        }
        else
        {
            string error = GetResponse.Content.ReadAsStringAsync().Result;
            Console.WriteLine(error);

        }

    }

    protected async Task DeleteQustionFunc(Question Qtodelet)
    {
        Console.WriteLine(Qtodelet.ID);

        var deleteRespone = await Http.DeleteAsync("api/Games/DeleteQ/" + CurrentGame.UserID.ToString() + "/" + Qtodelet.ID);
        if (deleteRespone.IsSuccessStatusCode == true)
        {
            Console.WriteLine("שאלה נמחקה");
            CurrentGame.GameQuestions.Remove(Qtodelet);
            Console.WriteLine("הרשימה התעדכנה");
        }
        else
        {
            string error = deleteRespone.Content.ReadAsStringAsync().Result;
            Console.WriteLine(error);

        }

        //בסגירת הפופאפ שהשאלה תתאפס

        CurrentQuestion = new Question();
        myDistractorList = new List<Distractor>();
        CorrectAnswer = new Distractor();
        await OnInitializedAsync();
    }

    string myFileImage;
    long maxFileSize = 4194304;
    string msg1;
    List<string> DeletedImages = new List<string>();
    List<string> DeletedImagesforans = new List<string>();

    //העלאת תמונה לגזע השאלה
    private async Task UploadFile(InputFileChangeEventArgs e)
    {
        Xbuttonhidden2 = true;

        var imageFiles = e.GetMultipleFiles();
        foreach (var file in imageFiles)
        {
            if (file.Size <= maxFileSize)
            {
                var buffer = new byte[file.Size];
                await file.OpenReadStream(maxFileSize).ReadAsync(buffer);
                var imageBase64 = Convert.ToBase64String(buffer);
                var saveResponse = await Http.PostAsJsonAsync("api/Games/upload", imageBase64);

                if (saveResponse.IsSuccessStatusCode == true)
                {
                    string resizeUrl = saveResponse.Content.ReadAsStringAsync().Result;
                    myFileImage = resizeUrl;
                    Console.WriteLine(resizeUrl);
                    CurrentQuestion.QuestionImage = myFileImage;

                }
            }
        }
    }


    string myFileImageCorrectAnswer;

    //פונקציה העלאת תמונה למסיח נכון
    private async Task UploadFileforCorrectAnswer(InputFileChangeEventArgs e)
    {

        var imageFiles = e.GetMultipleFiles();
        foreach (var file in imageFiles)
        {
            if (file.Size <= maxFileSize)
            {
                var buffer = new byte[file.Size];
                await file.OpenReadStream(maxFileSize).ReadAsync(buffer);
                var imageBase64 = Convert.ToBase64String(buffer);
                var saveResponse = await Http.PostAsJsonAsync("api/Games/upload", imageBase64);

                if (saveResponse.IsSuccessStatusCode == true)
                {
                    string resizeUrl = saveResponse.Content.ReadAsStringAsync().Result;
                    myFileImageCorrectAnswer = resizeUrl;
                    Console.WriteLine(resizeUrl);
                    CorrectAnswer.DistractorContent = myFileImageCorrectAnswer;
                    CorrectAnswer.IsImage = true;
                }
            }
        }

    }

    //העלאת תמונה למסיחים השגויים
    string myFileImageWorngAnswer;

    private async Task UploadFileDistractor(InputFileChangeEventArgs e, int Place)
    {
        var imageFiles = e.GetMultipleFiles();
        foreach (var file in imageFiles)
        {
            if (file.Size <= maxFileSize)
            {
                var buffer = new byte[file.Size];
                await file.OpenReadStream(maxFileSize).ReadAsync(buffer);
                var imageBase64 = Convert.ToBase64String(buffer);
                var saveResponse = await Http.PostAsJsonAsync("api/Games/upload", imageBase64);

                if (saveResponse.IsSuccessStatusCode == true)
                {
                    string resizeUrl = saveResponse.Content.ReadAsStringAsync().Result;
                    myFileImageWorngAnswer = resizeUrl;
                    Console.WriteLine(resizeUrl);
                    myDistractorList[Place].DistractorContent = myFileImageWorngAnswer;
                    myDistractorList[Place].IsImage = true;
                }
            }
        }

    }

    // פונקציה שמופעלת בלחיצה על שמירת שאלה
    protected async Task OnValidSubmit()
    {
        Console.WriteLine("CurrentQuestion " + CurrentQuestion);
        if (EditQBool == false)
        {
            CorrectAnswer.IsCorrect = true;
            CorrectAnswer.QuestionID = CurrentQuestion.ID;
            CurrentQuestion.QuestionDistractors.Add(CorrectAnswer); //הוספת התשובה הנכונה לרשימה

            foreach (Distractor d in myDistractorList)
            {
                if (string.IsNullOrEmpty(d.DistractorContent) == false)
                { //תנאי שבודק האם המסיח ריק ורק אז מכניס את המסיח לרישמה
                    d.QuestionID = CurrentQuestion.ID;
                    CurrentQuestion.QuestionDistractors.Add(d); //בלולאה הוספת המסיחים לרשימה
                }
            }
        }
        else
        {
            // צריך פונקציה שמוסיפה מסיחים חדשים לאחר שליפת שאלה ולחיצת שמור
            foreach (Distractor d in myDistractorList)
            {
                if (string.IsNullOrEmpty(d.DistractorContent) == false)
                { //תנאי שבודק האם המסיח ריק ורק אז מכניס את המסיח לרישמה
                                  
                       //דלק על המסיחים הקיימים ושלח למאגר נתונים מסיחים חדשים שנוספו
                   
                }
            }
        }

        var postRespone = await Http.PostAsJsonAsync("api/Games/editQuestion/" + userId + "/" + gameID, CurrentQuestion);

        if (postRespone.IsSuccessStatusCode == true)
        {

            Game updateGame = postRespone.Content.ReadFromJsonAsync<Game>().Result;
            Console.WriteLine(" OnValidSubmit הקריאה הצליחה השאלה נשמרה");


            var GetResponse = await Http.GetAsync("api/Games/bygameID/" + gameID);
            if (GetResponse.IsSuccessStatusCode == true)
            {
                CurrentGame = GetResponse.Content.ReadFromJsonAsync<Game>().Result;
                Console.WriteLine(" OnValidSubmit קריאה שניה של משחק לפי ID");
                // לעדכן טבלה
            }
            else
            {

                string error = GetResponse.Content.ReadAsStringAsync().Result;
                if (error == "game not found" || error == "empty Session")
                {
                    nav.NavigateTo("./");
                }
                else
                {
                    Console.WriteLine(" OnValidSubmit תקלה בשמירת השאלה ");

                    Console.WriteLine(error);
                }
            }
        }
        else
        {

            Console.WriteLine("api/Games/editQuestion/OnValidSubmit תקלה בשמירת השאלה ");


        }

        EditQBool = false;
        CurrentQuestion = new Question();
        myDistractorList = new List<Distractor>();
        CorrectAnswer = new Distractor();
        await OnInitializedAsync();
    }


    bool Xbuttonhidden1;
    bool Xbuttonhidden2;

    //פונקציה למחיקת תוכן השאלה דרך תיבת טקסט
    void CleanFuncQuestion()
    {
        CurrentQuestion.QuestionTitle = "";
        Xbuttonhidden1 = false;
        StateHasChanged();

    }

    void CleanFuncQuestionImage()
    {
        CurrentQuestion.QuestionImage = "";
        Xbuttonhidden2 = false;
        myFileImage = "";

        StateHasChanged();

    }


}