
@using TreasureIsland_Dolev_May_Coral.Shared.Entities
@inject HttpClient Http

    <EditForm Model="@GameFromPage" OnValidSubmit="OnValidSubmit">
        <MudText>
            הגדרות משחק
        </MudText>
        <DataAnnotationsValidator />
        <MudGrid>
            <MudItem Style="width: 400px; height: 300px">
                <MudCard>
                    <MudCardContent>
                        <MudIconButton Style="left:20px" Icon="@Icons.Material.Filled.Close" @onclick="ClosePopup" Color="Color.Default" />

                        <MudTextField Variant="Variant.Outlined" Label="שם משחק" HelperText="2-25 תווים"
                                      @bind-Value="GameFromPage.GameName" For="@(() => GameFromPage.GameName)" />

                        <MudSelect T="int"  Variant="Variant.Outlined" Label="זמן מענה לשאלה" Placeholder="@GameTime" @bind-Value="GameFromPage.QTimeLimit" For="@(() => GameFromPage.QTimeLimit)" AnchorOrigin="Origin.BottomCenter">

                            <MudSelectItem T="int" Value="20">20 שניות</MudSelectItem>
                            <MudSelectItem T="int" Value="30">30 שניות</MudSelectItem>
                            <MudSelectItem T="int" Value="40">40 שניות</MudSelectItem>
                            <MudSelectItem T="int" Value="50">50 שניות</MudSelectItem>
                            <MudSelectItem T="int" Value="60">60 שניות</MudSelectItem>
                        </MudSelect>
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton Style="background-color:saddlebrown; color:azure" ButtonType="ButtonType.Submit" Color="Color.Primary" Variant="Variant.Filled">שמירת שינויים</MudButton>
                    </MudCardActions>
                </MudCard>
            </MudItem>

        </MudGrid>
    </EditForm>

<p>@UpdatedGame.GameName </p>

@code {


    [Parameter]
    public int userId { get; set; }

    [Parameter]
    public Game GameFromPage { get; set; } // פרמטר שמתקבל מהדף

    //[Parameter]
    //public RenderFragment ChildContent { get; set; } // להציג תוכן בדף

    [Parameter]
    public EventCallback<string> MessegeToPageEC { get; set; } // יצירת פרמטר שיופעל כדי לשלוח לעמוד את ההודעה בעת לחיצה על כפתור

    [Parameter]
    public EventCallback<bool> HideToPageEC { get; set; } // יצירת פרמטר שיופעל כדי לשלוח לעמוד את ההודעה בעת לחיצה על כפתור


    //יצירת מופע חדש של יוזר
    //User CurrentUser = new User();

    //יצירת מופע חדש של משחק
    Game UpdatedGame = new Game();

    string gameCurrentName = "";
    string GameTime = "";

    protected override void OnInitialized()
    {
        UpdatedGame = GameFromPage;

        // gameCurrentName = UpdatedGame.GameName;
        // GameTime = UpdatedGame.QTimeLimit + " שניות";
    }

    void ClosePopup()
    {

        MessegeToPageEC.InvokeAsync("לא בוצעו שינויים");
        HideToPageEC.InvokeAsync(false);

    }

    //שיטה מופעלת בלחיצת כפתור

    //קריאה לקונטרולר לעדכון סטטוס המשחק האם פורסם

    protected async Task OnValidSubmit()
    {
        //UpdatedGame.ID = GameIDFromPage;
        //UpdatedGame.GameName = UpdatedGame.GameName;
        //UpdatedGame.QTimeLimit = UpdatedGame.QTimeLimit;
        await Makeupdates();
    }

    protected async Task Makeupdates()

    {
        //UpdatedGame.ID = GameIDFromPage.ID;
        Console.WriteLine("המשחק מעודכן בנתונים חדשים");
        var GetResponse = await Http.GetAsync("api/Games/" + userId);
        if (GetResponse.IsSuccessStatusCode == true)
        {

            var postRespone = await Http.PostAsJsonAsync("api/Games/Update/GameUpdate", GameFromPage);

            if (postRespone.IsSuccessStatusCode == true)
            {
                Game updateGame = postRespone.Content.ReadFromJsonAsync<Game>().Result;

                GameFromPage = new Game();
                //שליחת ההודעה מהקומפוננטה לדף
                await MessegeToPageEC.InvokeAsync("הגדרות שונו בהצלחה");
            }
            else
            {

                //שליחת ההודעה מהקומפוננטה לדף
                await MessegeToPageEC.InvokeAsync("לא בוצעו שינויים");


            }


        }
    }




}
